<section class="comic-nav">
  <!-- <div> -->
  <button mat-icon-button (click)="previousStripe()" [disabled]="selectedId < 2" matTooltip="Forrige">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="nextStripe()" matTooltip="Neste">
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <!-- </div> -->
</section>
<section class="comic-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>#{{selectedId}} &mdash; Stripe name</mat-card-title>
      <mat-card-subtitle>{{ now | date:'longDate' }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="../../assets/testcomic.gif" alt="My comic"> -->
    <mat-card-content>
      <img src="../../assets/stripes/stripe_1.jpg" alt="My stripe">
      <p>
        Comics is a medium used to express ideas by images, often combined with text or other visual information.
        Comics frequently takes the form of juxtaposed sequences of panels of images. ... Common forms of comics
        include comic strips, editorial and gag cartoons, and comic books.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</section>