.topcontainer {
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    background-color: #B2DFDB;
    background-image: url("../assets/supertordengrim_transparent.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 80px;
}

.middlecontainer {
}

.bottom {
}