<body>
  <div class="top-container">
    <h1>Mortens serier</h1>
    <br>
    <div class="banner-options">
      <ng-container *ngFor="let type of types_of_content">
      <button mat-raised-button *ngIf="contentIsSelected(type)" (click)="selectContent(type)">{{ type.name }}</button>
      <button mat-button *ngIf="!contentIsSelected(type)" (click)="selectContent(type)">{{ type.name }}</button>
      </ng-container>
    </div>
  </div>
  <div class="super-contentcontainer">
    <!-- <router-outlet></router-outlet> -->
    <app-frontpage></app-frontpage>
  </div>
</body>