<section class="comic-nav">
  <!-- <div> -->
  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="toggleZoom()">
    <mat-icon *ngIf="!zoomedIn">zoom_in</mat-icon>
    <mat-icon *ngIf="zoomedIn">zoom_out</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <!-- </div> -->
</section>
<section class="comic-container">
  <mat-card style="flex-basis: none" [ngStyle]="{'flex-basis': zoomedIn ? 'initial' : '850px'}">
    <mat-card-header>
      <mat-card-title>#{{selectedId}} &mdash; Cover name</mat-card-title>
      <mat-card-subtitle>{{ now | date:'longDate' }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="../../assets/testcomic.gif" alt="My comic"> -->
    <mat-card-content>
      <img src="../../assets/covers/cover_01.jpg" alt="My cover">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
        including versions of Lorem Ipsum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</section>